.font{
  color: #5D6865;
  text-align: center;
  font-family: YuGothic;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}

.searchContainer{
  margin: 120px auto 0;
  width: 210px;
  height: 26px;
  border-radius: 20px;
  border: 1px solid rgba(93, 104, 101, 0.50);
  display: flex;
  padding: 14px 34px;
  justify-content: center;
  align-items: center;
  gap: 32px;
  p{
    @extend .font;
  }
}
.blogCardContainer{
  display: grid;
  margin-top: 56px;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 56px; /* Spacing between grid items */
  justify-items: center; /* Center grid items horizontally */
  align-items: center; /* Center grid items vertically */
}