.searchContainer{
  margin: 120px auto 0;
  width: 300px;
  height: 54px;

}
.blogCardContainer{
  display: grid;
  margin-top: 56px;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-gap: 56px; /* Spacing between grid items */
  justify-items: center; /* Center grid items horizontally */
  align-items: center; /* Center grid items vertically */
}

