.font{
    color: #5D6865;
    font-family: YuGothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
    letter-spacing: 3.2px;
}

.introBox{
    margin: 85px auto 104px;
    width: 72%;
    height: 155px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
    padding: 48px 106px;
    @extend .font;
    @media (max-width: 860px) {
        margin: 20px auto;
        height: 100%;
        padding: 20px ;
        width: 80%;
    }
}
.contentContainer{
    display: inline-block;
    width: 80%;
    min-height: 1465px;
    margin-top: 104px;
    margin-left: 94px;
    @media (max-width: 860px) {
        margin: 60px 0 ;
        height: 100%;
        min-height: 0;
        width: 80%;
    }
}
.container{
    @media (max-width: 860px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}