.cardContainer{
    display: flex;
    justify-content: center;
    margin-top: 112px;
    @media (max-width: 860px) {
        flex-direction: column;
        margin-top: 50px;
        gap: 50px;
    }
}

.dottedLine{
    @media (max-width: 860px) {
        display: none;
    }
}
.list{
    margin: 73px 95px 0;
    border-radius: 20px;
    background: #FFF;
    position: relative;
    box-sizing: border-box;

    $border: 7px; /* Border thickness */
    color: #FFF;
    background-clip: padding-box;
    border: solid $border transparent;
    @media (max-width: 860px){
        margin: 0 30px 100px;
        position: static;
        display: block;
    }
    @media (min-width: 860px) {
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            margin: -$border; /* Extend the pseudo-element outside the div */
            border-radius: inherit; /* Match the border-radius of the div */
            background: linear-gradient(90deg, #5EAED2, #FBDF97); /* Adjust the gradient direction and colors */
        }
    }
    .listContainer{
        margin: 47.38px 114px 64px;
        @media (max-width: 860px) {
            margin: 0px 30px ;
        }
    }
    .listTitle{
        color: #5D6865;
        font-family: YuGothicBold;
        font-size: 25px;
        font-style: normal;
        line-height: 0;
        letter-spacing: 6px;
        @media (max-width: 860px) {
            font-size: 20px;

        }

    }
    .listItem {
        margin-top: 40px;
    }
}