.font{
    color: #5D6865;
    font-family: YuGothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
    letter-spacing: 3.2px;
}

.boldFont{
    @extend .font;
    font-family: YuGothicBold;
    font-size: 24px;
    line-height: 30px; /* 125% */
    letter-spacing: 4.8px;
}

.intro {
    max-width: 522px;
    @extend .font;
    margin-left: 178px;
    margin-top: 16px;
}

.aboutContainer, .newDrugContainer {
    //border: red 1px solid;
    text-align: center;
    height: 639px;
    margin: 78px 199px 0;
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.3), -10px 0 15px -5px rgba(0, 0, 0, 0.3); /* Shadow on sides */
    border-radius: 30px 30px 0 0 ;

    .title {
        @extend .boldFont;
        display: flex;
        width: 100%;
        height: 100px;
        border-radius: 30px 30px 0 0 ;
        background-color: #FBDF97;
        align-items: center;
        justify-content: center;
    }
    .itemContainer{
        margin: 48px 80px;
    }
    .firstRow{
        display: flex;
        justify-content: center;
        .arrow1, .arrow2{
            margin-top: 46px;
        }
    }
    .secondRow{
        display: flex;
        justify-content: space-between;
    }
    .arrowRow{
        display: flex;
        margin-left: 192px;
        .arrow1{
            margin-left: -18px;
        }
    }
    .thirdRow{
        @extend .secondRow;
    }
    .item{
        width: 300px;
        height: 100px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(135deg, #EAE9E8 0%, #FFF 100%);
        box-shadow: 3px 3px 8px 0px rgba(208, 207, 207, 0.90), -3px -3px 6px 0px rgba(255, 255, 255, 0.90), 3px -3px 6px 0px rgba(208, 207, 207, 0.20), -3px 3px 6px 0px rgba(208, 207, 207, 0.20), -1px -1px 2px 0px rgba(208, 207, 207, 0.50) inset, 1px 1px 2px 0px rgba(255, 255, 255, 0.30) inset;
    }
    .longerItem{
        @extend .item;
        width: 394px;
    }

    .itemFirstLine{
        @extend .boldFont;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 3.6px;
    }
    .itemSecondLine{
        @extend .font;
        font-size: 12px;
        line-height: normal;
        letter-spacing: 2.4px;
        margin-top: 7px;
    }
}
.newDrugContainer {
    .contentTitle {
        @extend .boldFont;
        color: #5EAED2;
        font-size: 24px;
        letter-spacing: 3.6px;
        align-items: center;
        margin-top: 72px;
    }
    .shorterItem {
        @extend .item;
        width: 164px;
        .itemSecondLine{
            margin-top: -5px;

        }
    }
    .firstRow{
        align-items: center;
        margin-top: -20px;
        .circle{
            width: 153px;
            height: 153px;
            border-radius: 50%;
            background-color: #AA8271;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 23px 18px 23px;

            p{
                @extend .boldFont;
                font-size: 16px;
                line-height: normal;
                letter-spacing: 3.6px;
                color: #FFF;

            }
        }
        .arrow5 {
            transform: rotate(180deg);
        }
    }
    .secondRow{
        position:relative;
        height: 168px;
        .leftArrow, .rightArrow {
            position: absolute;
            top: 0;
            height: 168px;
            width: 342px;
        }

        .leftArrow {
            left: 51%; /* Adjust as needed */
            transform: translateX(-100%); /* Adjust to align properly */
        }

        .rightArrow {
            left: 81.5%; /* Adjust as needed */
            transform: scaleX(-1) translateX(100%); /* Flip and adjust to align */
        }

        p {
            @extend .boldFont;
            line-height: normal;
            letter-spacing: 3.6px;
            font-size: 18px;
            color: #5EAED2;
            position: relative;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -70%);
            z-index: 1; /* Ensure it's above the arrows */
        }
    }
    .giantItem{
        @extend .item;
        margin: 0 auto;
        justify-content: center;
        width: 80%;
        .textContainer{
            margin: 14px 106px;
            display: flex;
            align-items: flex-start;
            gap: 24px;

            .firstLine{
                @extend .boldFont;
                font-size: 18px;
                line-height: normal;
                letter-spacing: 3.6px;
            }
            .secondLine{
                @extend .font;
                font-size: 12px;
                line-height: normal;
                letter-spacing: 2.4px;
            }

        }
    }
}
