.word{
    color: #5D6865;
    text-align: justify;
    font-family: YuGothic, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 3px;
}

.box{
    background: #FFF;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25);
    height: 153px; //temp
    margin: 104px 253px 207px 253px;
    border-radius: 20px;
    .innerBox{
        padding: 48px 95px;
        p{
            @extend .word;
        }
    }
}
.rowsContainer{
    padding: 0 0 80px 95px;
    .secondRow{
        margin-top: 80px;
        margin-left: 134px;

    }
}
