.word{
    color: #5D6865;
    text-align: justify;
    font-family: YuGothic, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 3px;
}

.box{
    background: #FFF;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
    height: 153px;
    margin: 104px 253px 207px 253px;
    border-radius: 20px;
    @extend .word;
    .innerBox{
        padding: 48px 95px;
    }
}
.rowsContainer{
    padding: 0 0 80px 95px;
    .secondRow{
        margin: 80px 0 0 134px;
    }
    .thirdRow{
        margin-top: 80px;
    }
}

@media (max-width: 860px){
    .box{
        margin: 100px 20px;
        height: auto;
        .innerBox{
            padding: 30px 20px;
        }
    }
    .rowsContainer{
        padding: 20px;
        .secondRow{
            margin: 40px 0;
        }
        .thirdRow{
            margin: 40px 0;
        }
    }
}