.titleImage{
    width: 100%;
    height: 898px;
    margin-top: 110px;
}
.infoContainer{
    margin-top:80px;
}
.receptionContainer{
    margin-top: 65px;
}
.cardContainer{
    margin-top: 70px;
}
.blogContainer{
    padding: 135px 94px 35px;
}
@media (max-width: 860px){
    .titleImage {
        height: auto;
    }
}