.container{
    padding: 80px 94px 104px 94px;
    color: #5D6865;
    font-family: YuGothicBold;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 6px;
}
.titleContainer{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.title{
    margin-bottom: 16px;
}
.cardContainer{
    margin-top: 72px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 860px){
    .container{
        padding: 50px 20px 0;
    }
    .cardContainer{
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .priceContainer{
        margin-bottom: 100px;
    }
}