.container{
    margin-top: 104px;
    color: #5D6865;
    font-family: YuGothicBold;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 6px;
}
.titleContainer{
    display: inline-flex;
    flex-direction: column;
    align-items: center; // Center items in this container
    flex-wrap: wrap;
    gap: 20px;
}
.lineContainer{
    margin: 0 auto ;
    display: flex;
    justify-content: center;
    gap: 32px;
    .button{
        margin-top: 5px;
        border-radius: 30px;
        background: rgba(251, 223, 151, 0.50);
        font-size: 14px;
        letter-spacing: 2.8px;
        width: 120px;
        height: 28px;
        padding-top: 4px;
        text-align: center;

    }
}
.tableContainer{
 margin-top: 55px;
}