$refHeight: 378px;
$refWidth: 404px;

.container {
    position: relative;

    .firstImage, .secondImage, .thirdImage, .fourthImage,
    .fifthImage, .sixthImage, .secondCard, .thirdCard{
        position: absolute;
    }

    .firstImage {
        top: 17px;
        left: 404px;
        margin-left: 117px;
    }

    .secondImage {
        top: calc(17px + 230px);
        left: calc(404px + 117px + 364px);
        margin-left: 49px;
    }

    .thirdImage{
        top: calc($refHeight + 75px);
        left: 136px;
    }
    .secondCard{
        top: calc($refHeight + 145px);
        left: calc(483px + 404px);
    }
    .fourthImage{
        top: calc($refHeight + 504px);
        left: calc($refWidth + 49px);
    }
    .thirdCard{
        top: calc($refHeight + 525px);
    }
    .fifthImage{
        top: calc($refHeight + 741px);
        left: calc($refWidth + 113px);
    }
    .sixthImage{
        top: calc($refHeight + 692px);
        left: calc($refWidth + 602px);
    }
}
@media (max-width: 860px) {
    .container {
        position: static;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;

        .firstImage, .secondImage, .thirdImage, .fourthImage,
        .fifthImage, .sixthImage, .secondCard, .thirdCard {
            position: static;
            top: 0;
            left: 0;
            margin-left: 0;

        }

        .secondImage, .fourthImage, .sixthImage {
            display: none;
        }

        .firstImage {
            order: 1;
        }
        .firstCard{
            order: 2;
        }
        .thirdImage{
            order: 3;
        }
        .secondCard{
            order: 4;
        }
        .fifthImage{
            order: 5;
        }
        .thirdCard{
            order: 6;
        }



    }
}