.cardholderContainer{
    display: flex;
    gap: 32px;
    max-height: 270px;
    .defaultImage{
        background: #D9D9D9;
        height: 270px;
        width: 260px;
        border-radius: 40px;
    }
    .image{
        height: 270px;
        width: 260px;
        border-radius: 40px;
    }
}

.infoContainer{
    max-width: 310px;
    .name{
        color: #5D6865;
        font-family: YuGothicBold;
        font-size: 18px;
        font-style: normal;
        line-height: normal;
        letter-spacing: 3.6px;
    }
    .dottedLine{
        margin-top: -8px;
    }
    .addressContainer{

        .addressContent{
            flex-grow: 1;
        }
        .additionalAddress{
            margin-top: 4px;
        }
        .addressContent .postcode, .addressContent .additionalAddress {
           max-width: 228px;
        }
    }
    .businessContainer{
        .businessRow {
            display: flex;
            align-items: center;
        }

        .dayLabel {
            width: 106px;
        }
    }
    .restContainer{
        .restContent{
            flex-grow: 1;
        }

    }
    .iconsContainer {
        display: flex;
        flex-wrap: wrap;
        max-width: 322px;
        gap: 8px 32px;
    }

    .iconImage {
        width: 20px;
        height: 20px;
        /* Other styling as needed */
    }
}

.font{
    color: #5D6865;
    font-family: YuGothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.8px;
}

.addressContainer, .businessContainer, .restContainer, .iconsContainer{
    margin-top: 8px;
    display: flex;
    align-items: flex-start;
    @extend .font;
}
.addressLabel, .businessLabel, .restLabel, .dayLabel{
    width: 82px;
}