.iconTextContainer {
    display: flex;
    align-items: center;
    margin-right: 32px;
}

.icon {
    max-height: 30px;
    max-width: 30px;
}

.text {
    margin-left: 8px;
    color: #5D6865;
    font-family: YuGothic;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.8px;
}
