.titleFont{
    text-shadow: 2px 3px 2px rgba(131, 178, 212, 0.65);
    font-family: YuGothicBold;
    font-size: 38px;
    font-style: normal;
    line-height: 80px; /* 210.526% */
    letter-spacing: 7.6px;
}
.font{
    color: #5D6865;
    text-align: justify;
    font-family: YuGothic;
    font-size: 18px;
    font-style: normal;
    line-height: 30px; /* 166.667% */
    letter-spacing: 3.3px;
}

.container{
    width: 100%;
    height: 100%;

}
.background {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 162px;
    position: relative;
    z-index: -100;
    .left {
        margin-top: 380px;
        .leftMiddle{
            margin-top: 220px;
            margin-left: 200px;
        }
        .leftBottom{
            margin-top: -400px;
        }
    }
    .right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 0;

        .rightMiddle {
            margin-top: -330px;
        }

        .rightBottom1 {
            margin-top: 480px
        }

        .rightBottom2 {
            margin-top: -350px;
            margin-right: 50px;
        }
    }

    .titleBox {
        position: absolute;
        text-align: left;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        @extend .titleFont;
        .firstLine, .secondLine {
            background: linear-gradient(93deg, #00B0FF 0.8%, #3354C9 99.17%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent; // Make the text color transparent to show the gradient
            -webkit-text-fill-color: transparent; // For WebKit browsers
        }
    }
    .introBox {
        position: absolute;
        top: 232px; // Position below titleBox
        left: 40%; // Horizontally center relative to the parent
        transform: translateX(-50%);
        width: 510px;
        height: 686px;
        @extend .font;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .questionBox {
        position: absolute;
        top: 1100px; // Position below titleBox
        left: 52%; // Horizontally center relative to the parent
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
    }

}