.word{
    font-weight: normal;
    color: #000;
    font-family: YuGothic, serif;
    font-size: 16px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.8px;
}
.boldWord{
    @extend .word;
    font-family: YuGothicBold, serif;
    font-weight: bold;
}

.footer{
    width:100%;
    background:linear-gradient(
                    180deg,
                    rgba(251, 223, 151, 0.00) 14.58%,
                    rgba(251, 223, 151, 0.20) 62.5%,
                    rgba(251, 223, 151, 0.80) 100%
    );
}
.footerContainer{
    padding: 96px 72px 56px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoAddressContainer{
    width: 100%;
    .icon{
        margin-top: 48px;
    }
    .addressContainer{
        padding-top: 79px;

        .name{
            @extend .boldWord;
        }
        .address{
            @extend .word;
            .underline{
                text-decoration: underline;
            }
        }
    }
}
.copyright{
    text-align: center;
    @extend .word;
    font-size: 14px;
    padding-bottom: 32px;
}
@media (max-width: 860px){
    .footerContainer{
        display: flex;
        flex-direction: column;
        padding:0;
    }
    .logoAddressContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        width: 100%;
        .icon{
            display: flex;
            margin-top: 48px;
            align-items: center;
        }
        .addressContainer{
            padding: 79px 0;
        }
    }
    .linksContainer{
        order: 1;
    }
}