.columnsContainer{
  margin-left: 61px;
  display: inline-flex;
  justify-content: space-between;
  gap:40px;

  .firstColumn{
    width: 314px;
  }
  .secondColumn{
    width: 233px;
  }
  .thirdColumn{
    width: 245px;
  }
}
.space{
  height: 24px;
}

@media (max-width: 860px){
  .columnsContainer{
    margin-left: 0;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    .firstColumn{
      width: 100%;
    }
    .secondColumn{
      width: 100%;
    }
    .thirdColumn{
      width: 100%;
    }
  }
}