.word{
  font-weight: normal;
  color: #000;
  font-family: YuGothic, serif;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.8px;
}
.boldWord{
  @extend .word;
  font-family: YuGothicBold, serif;
  font-weight: bold;
}
.title{
  @extend .boldWord;
  margin-bottom: 16px;
}
.list{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
  list-style-type: none;
  li{
    @extend .word;
  }
}

.doubleList {
  list-style-type: none;
  column-count: 2;
  column-gap: 32px;
  margin-top: 16px;
  padding: 0;
  li{
    @extend .word;
    margin-bottom: 8px;
  }
  li:last-child {
    margin-bottom: 0;
  }
}

.link{
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: underline;
  }
}