.font{
    text-align: center;
    font-family: YuGothicBold;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 6px;
}
.contentFont {
    color: #5D6865;
    text-align: justify;
    font-family: YuGothic;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
    letter-spacing: 3.2px;
}

.title {
    @extend .font;
    text-shadow: 2px 3px 2px rgba(131, 178, 212, 0.65);
    background: linear-gradient(93deg, #00B0FF 0.8%, #3354C9 99.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}


.contentBox{
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    gap: 65.32px;
    .img{
        border-radius: 20px;

        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    }
    .content{
        @extend .contentFont;
        max-width: 450px;
    }
}

@media (max-width: 860px) {
    .titleBox{
        width: 100%;
        .title{
            font-size: 20px;
            height: auto;
        }
    }
    .contentBox{
        flex-direction: column;
        align-items: center;
        gap: 40px;
        .img{
            width: 80%;
        }
        .content{
            max-width: 100%;
        }
    }
}