.dottedLine{
    display: flex;
    gap: 3px;
}
.dot {
    width: 5px;
    height: 5px;
    background-color: #FBDF97;
    border-radius: 50%;
}

.vertical {
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
}
.widerDots{
    @extend .dottedLine;
    gap: 5px;
}