.font{
    font-family: YuGothic;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 100% */
    letter-spacing: 6px;
}

.container {
    background-color: #FFF;
    width: 592px;
    height: 383px;
}

.step {
    @extend .font;
    padding: 35px 0 0 22px;
    z-index: 1;
    background: linear-gradient(to right, #00C2FF, #0057FF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.backgroundIcon{
    margin: auto;
}

@media (max-width: 860px) {
    .container {
        width: 350px;
        height: 350px;
    }
    .step {
        font-size: 20px;
        line-height: 30px; /* 150% */
        letter-spacing: 4px;
    }
    .backgroundIcon{
        width: 50%;
        height: 50%;
    }
}


