.font {
  font-family: YuGothic;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 5.6px;
}

.container{
    @extend .font;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .heading{
        font-size: 28px;
        font-family: YuGothicBold;
    }
    .content{
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 4px;
    }
}

@media (max-width: 860px) {
  .container {
    gap: 10px;
    .heading {
      font-size: 18px;
    }
    .content {
      font-size: 14px;
    }
  }
}