.font{
    color: #5D6865;
    font-family: YuGothic;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
}

.meritText{
    @extend .font;
    margin-left:24px;
}
.meritCardholder{
    @extend .font;
    margin-top: 35px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

@media (max-width: 860px){
    .font{
        font-size: 20px;
    }
    .meritCardholder{
        flex-direction: column;
        align-items: center;
        margin-top: 35px;
        gap: 40px;
    }
}