.font{
    font-family: YuGothic;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
}
.pfont {
    @extend .font;
    font-family: YuGothic;
    text-align: center;
    font-size: 26px;
    line-height: 40px;
    letter-spacing: 5.6px;
}
.icon {
    position: absolute;
    z-index: 0;
    top: 60px;
}
.box{
    position: absolute;
    left: 25%;
    transform: translate(-6%);
    color: #5D6865;
}

.serviceText{
    @extend .font;
    margin-left:24px;
    margin-bottom: -5px;
}

.meritCardholder{
    margin: 56px auto 104px;
    padding: 24px;
    width: 100%;
    height: 838px;
    background: #FBDF97;
    border: red solid 1px;
    display: grid;
    grid-template-columns: repeat(2, 592px); // Two columns, each 592px wide
    grid-template-rows: repeat(2, 383px); // Two rows, each 383px high
    gap: 24px 20px; // 24px vertical gap, 20px horizontal gap
    justify-content: center; // Center the grid horizontally if there's extra space
    align-content: center; // Center the grid vertically if there's extra space
    .step1 {
        .backgroundIcon {
            @extend .icon;
            left: 198px;
        }
        .mainBox{
            @extend .box;
            padding-top: 123px;
            p {
                @extend .pfont;
                font-size: 28px;
                font-family: YuGothicBold;
            }
        }
        .subBox{
            @extend .box;
            padding-top: 225px;

            p {
                @extend .pfont;
                font-size: 20px;
                line-height: 30px; /* 150% */
                letter-spacing: 4px;
            }
        }
    }
    .step2 {
        .backgroundIcon2 {
            @extend .icon;
            left: 166px;
            top: 60px;
        }
        .mainBox{
            @extend .box;
            padding-top: 123px;
            left: 100px;
            p {
                @extend .pfont;
                font-size: 28px;
                font-family: YuGothicBold;
            }
        }
        .subBox{
            @extend .box;
            padding-top: 225px;
            left: 158px;
            p {
                @extend .pfont;
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 4px;
            }
        }
    }
    .step3 {
        .backgroundIcon3 {
            @extend .icon;
            top: 93px;
            left: 158px;
        }
        .mainBox{
            @extend .box;
            padding-top: 103px;
            p {
                @extend .pfont;
                font-family: YuGothicBold;
                font-size: 28px;
            }
        }
        .subBox{
            @extend .box;
            padding-top: 257px;

            p {
                @extend .pfont;
                font-size: 20px;
                line-height: 30px; /* 150% */
                letter-spacing: 4px;
            }
        }
    }
    .step4 {
        .backgroundIcon4 {
            @extend .icon;
            top: 69px;
            left: 143px;
        }
        .mainBox{
            @extend .box;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 470px;
            p {
                @extend .pfont;
                font-family: YuGothicBold;
                font-size: 28px;
            }
        }
    }
    .step1, .step2, .step3, .step4{
        position: relative;
    }

}
