.container{
    width: 100%;
    background: #FBDF97;
    padding: 70px 0 104px;
}

.cardContainer{
    margin-top: 104px;
    margin-right: 94px;
    background: #FFFFFF;
    padding: 91px 106px 91px 0;
    border-radius: 0 40px 40px 0;
    display: flex;
    justify-content: space-between;
    gap: 78px;
    .contentContainer{
        margin-top: 58px;
    }
    .barContainer{
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .textContainer{
        margin-top: 72px;
        max-width: 600px;
    }
    .text{
        color: #5D6865;
        font-family: YuGothic;
        font-size: 16px;
        font-weight: 500;
        line-height: 30px; /* 187.5% */
        letter-spacing: 3.2px;
    }
}
.firstContainer{
    @extend .cardContainer;
}
.secondContainer{
    @extend .cardContainer;
    margin-right: 0;
    margin-left: 94px;
    border-radius: 94px 0 0 94px;
    padding: 96px 0 96px 86px;
    gap: 100px;
    .contentContainer{
        margin-top: 11px;
    }
    .barContainer{
        margin-top: 32px;
    }
}

@media (max-width: 860px){
    .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        padding: 50px 0 ;
    }
    .cardContainer{
        flex-direction: column;
        margin-top: 0;
        margin-right: 50px;
        padding: 50px;
        gap: 50px;
        .contentContainer{
            margin-top: 0;
        }
        .barContainer{
            margin-top: 0;
        }
        .textContainer{
            margin-top: 50px;
        }
    }
    .secondContainer{
        margin: 0 0 0 50px;
        padding: 70px 30px 50px 70px;
        .contentContainer{
            order: 2;
        }
        .photo{
            order: 1;
        }
    }
}