.font{
    font-family: YuGothicBold, serif;
    font-size: 50px;
    line-height: normal;
    letter-spacing: 10px;
}

.text{
    font-family: YuGothic, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 3.2px;
    text-align: justify;
}

.rowContainer{
    width: 100%;
    display: flex;
    row-gap: 64px;
    .rightText {
        margin-top: 228px;
        margin-left: 73px;
        .upperText{
            position: relative;
        }
        .backgroundText {
            @extend .font;
            color: transparent;
            background: linear-gradient(
                            90deg,
                            rgba(255, 214, 109, 0.30) 1.14%,
                            rgba(87, 255, 154, 0.30) 46.56%,
                            rgba(113, 209, 252, 0.30) 101.39%
            );
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .foregroundText {
            position: absolute;
            left: -9px;
            top: 190px;
            color: #5D6865;
            @extend .font;
            font-size: 30px;
            font-style: normal;
            letter-spacing: 6px;
        }
        .additionalText{
            max-width: 510px;
            margin-top: 40px;
            margin-left: -9px;
            color: #5D6865;
            @extend .text;
        }
    }
}

@media (max-width: 860px){
    .rowContainer{
        flex-direction: column;
        .rightText{
            margin: 20px;
            .backgroundText{
                font-size: 30px;
            }
            .foregroundText{
                font-size: 20px;
                top: 120px;
                left: 20px;
            }
            .additionalText{
                margin-left: 0;
            }
        }
    }
}