.rowContainer{
    width: 100%;
    display: flex;
    row-gap: 64px;
    .rightText {
        margin-top: 228px;
        margin-left: 122px;
        .upperText{
            position: relative;
        }
        .backgroundText {
            margin-left: -58px;
            color: transparent;
            background: linear-gradient(
                            90deg,
                            rgba(255, 214, 109, 0.30) 1.14%,
                            rgba(87, 255, 154, 0.30) 46.56%,
                            rgba(113, 209, 252, 0.30) 101.39%
            );
            font-family: YuGothicBold, serif;
            font-size: 50px;
            line-height: normal;
            letter-spacing: 10px;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .foregroundText {
            position: absolute;
            top: 130px;
            color: #5D6865;
            font-family: YuGothicBold, serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 6px;
        }
        .additionalText{
            max-width: 510px;
            margin-top: 40px;
            margin-left: -9px;
            color: #5D6865;
            text-align: justify;
            font-family: YuGothic, serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 3.2px;
        }
    }
}