.rowContainer{
    width: 100%;
    display: flex;
    .leftText {
        margin-top: 260px;
        margin-right: 64px;
        .upperText{
            position: relative;
        }
        .backgroundText {
            margin-left: 44px;
            color: transparent;
            background: linear-gradient(
                            90deg,
                            rgba(255, 214, 109, 0.30) 1.14%,
                            rgba(87, 255, 154, 0.30) 46.56%,
                            rgba(113, 209, 252, 0.30) 101.39%
            );
            font-family: YuGothicBold, serif;
            font-size: 50px;
            line-height: normal;
            letter-spacing: 10px;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .foregroundText {
            position: absolute;
            top: 98px;
            color: #5D6865;
            font-family: YuGothicBold, serif;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 6px;
        }
        .bubbleWrapper {
            margin: 33px auto 39px auto;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 313px;
            height: 72px;
            flex-shrink: 0;
            border-radius: 20px;
            position: relative;
            z-index: 0;
        }

        .bubbleWrapper::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px; /* Same as the wrapper */
            background: radial-gradient(2657.13% 127.7% at 0% 11.45%, rgba(110, 196, 235, 0.65) 0%, rgba(2, 119, 255, 0.65) 100%);
            filter: blur(12px);
            z-index: -1; /* Ensures it's behind the text */
        }

        .bubbleText {
            z-index: 100;
            color: #FFF;
            font-family: CorporateLogoVer3, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 1px;
        }

        .additionalText{
            max-width: 510px;
            margin-top: 40px;
            color: #5D6865;
            text-align: justify;
            font-family: YuGothic, serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            letter-spacing: 3.2px;
        }
    }
}