.container{
    color: #5D6865;
    text-align: center;
    font-family: YuGothicBold;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 6px;
    .buttonContainer{
        margin-top: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
}

@media (max-width: 860px){
    .container{
        font-size: 25px;
        letter-spacing: 6.5px;
        .buttonContainer{
            margin-top: 30px;
            gap: 50px;
        }
    }
}