.font{
    color: #5D6865;
    font-family: YuGothicBold;
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 3.6px;
}
.contentFont{
    font-family: YuGothic;
    font-size: 16px;
    line-height: 25px; /* 156.25% */
    letter-spacing: 3.2px;
}


.infoContainer{
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.25);
    padding: 49px 40px 55px 61px;
    display: flex;
    @extend .font;
}
.leftContainer{
    .infoText{
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .phone, .landline{
        display: flex;
        gap: 14px;
        align-items: center;
        padding: 4px 0;
        .icon{
            width: 33px;
            height: 33px;
        }
        p{
            @extend .font;
            font-size: 18px;
            line-height: 25px; /* 138.889% */
        }
    }
}

.rightContainer{
    .upperContainer{
        height:181px;
    }
    .firstLine, .secondLine{
        margin-top: 14px;
        display: flex;
        gap: 40px;
        align-items: center;
        .iconContainer{
            display: flex;
            gap: 8px;
            align-items: center;
            @extend .font;
            font-size: 12px;
            letter-spacing: 2.4px;
            .icon{
                width: 20px;
                height: 20px;
            }
        }
    }
    .secondLine{
        margin-top: 25px;
    }
    .lowerContainer{
        margin-top: 38px;
        display: flex;
        gap: 7px;
        flex-direction: column;
        .nearbyText{
            @extend .contentFont;
        }
    }
}
@media (max-width: 768px) { // Adjust this breakpoint as needed
    .infoContainer {
        flex-direction: column; // Stack the children vertically on smaller screens
        padding: 25px; // Adjust padding for smaller screens
    }

    .leftContainer,
    .rightContainer {
        width: 100%;
    }
}