.container{
    color: #5D6865;
    font-family: YuGothicBold;
    font-size: 30px;
    font-style: normal;
    line-height: normal;
    letter-spacing: 6px;
}
.title{
    margin-left: 13px;
    margin-bottom: 8px;
}
.postContainer{
    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;

}
.postLink{
    text-decoration: none;
    color: inherit;
}
.button {
    display: flex;
    margin-top: 51px;
    justify-content: right;
}

.rightAlignedButton {
    margin-left: auto;  // Pushes the button to the right
}