.container{
    width: 100%;
    height: 100vh;
}
.bgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    .background{
        height: 100vh;
        z-index: -10;
    }
    .logo {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        animation: enlarge 3s ease-in-out forwards;
        z-index: 10;
    }
}
@keyframes enlarge {
    from {
        transform: translate(-50%, -50%) scale(0.5); // Start at half size
    }
    to {
        transform: translate(-50%, -50%) scale(3); // Scale to full size
    }
}