.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column; // Stacks children vertically
}
.title{
    margin-top: 96px;
    text-align: center;
    color: #5D6865;
    font-family: Corporate Logo ver3;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.2px;
}
.blogContainer{
    margin: 50px 0;
    width: 77%;
}
.viewAll{
    margin-top: 56px;
    display: flex;
    justify-content: end;
}