.container{
    width: 100%;
    padding: 100px 170px;
}
.title{
    color: #5D6865;
    font-family: Corporate Logo ver3;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.2px;
}