.sidebar {
    color: #8A9491;
    text-align: center;
    font-family: Corporate Logo ver3;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 5.2px;
    width: 24%;
    height: 100%;
    background-color: #fff;
}
.menu.open {
    right: 0; /* Brings the menu on-screen */
}
.menuItem {
    display: block; /* or inline-block depending on your layout */
    position: relative;
    height: 48px; /* Adjust as needed to fit text and SVG */
    text-decoration: none;
    padding: 12px;
    color: #5D6865;
    text-align: center;
    font-size: 18px;
    letter-spacing: 3.6px;
    overflow: hidden;
    z-index: 10;
}

.optionWrapper {
    position: relative;
    height: 32px; /* Height of your text */
    line-height: 32px; /* Aligns text vertically */
    z-index: 10;


}


.menuItem:hover p {
    transition: transform 0.4s ease;
    transform: translateX(20px); /* Move text 20px to the right on hover */
}

.svgWrapper {
    position: absolute;
    bottom: 2px; /* 2px atop of the bottom of the SVG */
    left: 50%;
    transform: translateX(-50%);
    width: 153px;
    height: 16px;
    background-image: url('/img/menu-hover.svg');
    background-size: 153px 16px; /* Exact size of the SVG */
    background-repeat: no-repeat;
    background-position: -153px 0; /* Start from the left (outside of view) */
    transition: background-position 0.5s ease, opacity 0.3s ease; /* Animate background position and opacity */
    opacity: 0; /* SVG is initially invisible */
}

.menuItem:hover .svgWrapper {
    background-position: 0 0;
    opacity: 1;
    z-index: -100;
}